html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

  font-weight: 400;
  color: #343a40;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

header {
  height: 100vh;
  background-image: url(/img/david.jpg);
  background-size: cover;
  margin-bottom: 2rem;
  position: relative;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

hr {
  margin-top: 10rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

input {
  width: 30rem;
  margin-bottom: 1rem;
}

button {
  max-width: 7rem;
  color: white;
  background-color: black;
  border: black;
  border-radius: 5px;
  padding: 5px;
  /* margin-top: 1rem; */
}

a:link {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.header-container {
  margin-top: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
}

.main-heading,
.navigation {
  color: #fff;
}

.inscription {
  margin-top: 10rem;
}

.first-div {
  display: flex;
  gap: 20rem;
}

.first-div-big {
  font-size: 3rem;
}

.first-div-small {
  font-size: 1rem;
  margin-top: 1.5rem;
}

.second-div {
  max-width: 30rem;
}

.card-box {
  display: flex;
}

.card-div {
  margin-top: 5rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  border: 1px solid #dee2e6;
  width: 100%;
  height: 30rem;
  padding: 0 2rem;
}

.number {
  font-size: 5rem;
}

.card-content-bold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content-mini-header {
  margin-top: 3rem;
}

.card-content-para {
  font-size: 1rem;
  margin-top: 1rem;
}

.picture-section {
  height: 100vh;
  background-image: url(/img/vanilla.jpg);
  background-size: cover;
}

.picture-section {
  margin-top: 5rem;
}

.unknown-sec-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unknown-sec {
  margin-top: 10rem;
}

.unknown-sec-big-text {
  font-size: 5rem;
  line-height: 1;
  max-width: 70rem;
  text-align: center;
}

.unknown-sec-small-text {
  max-width: 50rem;
  font-size: 1.2rem;
  margin-top: 3rem;
  text-align: center;
}

.unknown-sec-img {
  width: 100rem;
  height: 65rem;
  margin-top: 4rem;
}

.social-media-sec {
  margin-top: 10rem;
}

.social-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-inst {
  font-size: 5rem;
  max-width: 50rem;
}

.instagram-at {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  width: 90px;
  height: 25px;
}

.btn:link {
  text-decoration: none;
  cursor: pointer;
}

.tiled-pic-container {
  display: flex;
  gap: 10px;
  margin-top: 5rem;
}

.tiled-pic {
  width: 40rem;
  height: 40rem;
}

.thinking-about-1-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50rem;
  margin-top: 10rem;
}

.thinking-about-1-big-text {
  font-size: 5rem;
  max-width: 20rem;
}

.thinking-about-1-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  width: 90px;
  height: 25px;
}

.thinking-about-2-container {
  display: flex;
  align-items: center;
  gap: 20rem;
  margin-top: 10rem;
}

.thinking-about-2-img {
  width: 40rem;
  height: 30rem;
}

.client-box {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  margin-top: 5rem;
}

.client-pic {
  width: 4rem;
  height: 5rem;
}

.client-job-name {
  margin-left: 1rem;
}

.job {
  font-size: 1rem;
}

.time-posted {
  font-size: 0.9rem;
  margin-left: 5rem;
}

.form-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.form-info-big-text-container {
  max-width: 35rem;
}

.form-info-small-text-container {
  max-width: 25rem;
  margin-top: 1rem;
}

.form-info-big-text {
  font-size: 5rem;
  line-height: 1.2;
}

.form-info-small-text {
  font-size: 1rem;
  text-align: center;
}

.form-container {
  margin-top: 5rem;
}

.Subscription {
  font-size: 1.2rem;
}

.last-pic-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-image: url(/img/leo.jpg);
  background-size: cover;
  position: relative;
  margin-top: 10rem;
}

.last-pic-sec-inscript-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 42%;
  top: 50%;
  /* background-color: green; */
  width: 50rem;
}

.last-pic-sec-inscript {
  color: white;
  font-size: 5rem;
}

.last-pic-sec-inscript-block {
  max-width: 50rem;
}

/* .last-pic-sec-sub-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #AF1740;
  width: 10rem;
  height: 2rem;
} */

.last-pic-sec-sub {
  display: inline-block;
  background-color: #af1740;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.6rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.last-pic-sec-sub:hover {
  background-color: #cc2b52;
}

.empty-div {
  height: 5rem;
  background: linear-gradient(to bottom, #495057, black);

  border: none;
}

.l-sec {
  background-color: black;
  height: 80vh;
}

.l-sec-list-title,
.l-sec-list-element,
.l-sec-list-element-lnk {
  color: white;
}

.l-sec-list-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5rem;
  padding-top: 5rem;
}

.long-el {
  width: 20rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.address {
  width: 14rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #af1740;
  height: 5rem;
}

.copyright {
  color: white;
}

/* Below 1344px (Smaller desktops) */
@media (max-width: 84em) {
  .first-div {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }

  .card-box {
    display: flex;
    justify-content: center;
  }

  .card {
    max-width: 30rem;
  }

  .tiled-pic-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .last-pic-sec-inscript-container {
    left: 30%;
  }

  .l-sec-list-container {
    gap: 3rem;
  }
}

/* Below 1200px (landscape tablets) */
@media (max-width: 75em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }

  .tiled-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Below 944px (tablets(Portrait)) */
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .tiled-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Below 704px (Smaller tablets)  */

@media (max-width: 44em) {
  header {
    width: 94rem;
  }

  nav {
    width: 90rem;
    /* margin-right: 30rem; */
  }

  .card-box,
  .picture-section,
  .last-pic-sec,
  .l-sec,
  .empty-div,
  footer {
    width: 94rem;
  }

  .tiled-pic-container,
  .thinking-about-2-container {
    margin-left: 5rem;
  }
}

/* Below 544px (Phones)  */
@media (max-width: 34em) {
  html {
    max-width: 100%;
  }

  body {
    overflow-x: hidden;
  }

  header,
  .picture-section,
  .last-pic-sec {
    max-width: 100%;
    height: 60rem;
  }

  nav {
    display: flex;
    justify-content: start;
    gap: 30rem;
  }

  p {
    font-size: 1.8rem;
  }

  .header-container {
    width: 18rem;
  }

  .first-div {
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .first-div-small {
    font-size: 1.5rem;
    width: 38rem;
  }

  .card-box {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .card {
    max-width: 100%;
  }

  /* .card-content-mini-header {
    font-size: 1.8rem;
  } */

  .card-content-para {
    font-size: 1.5rem;
  }

  .unknown-sec-big-text {
    font-size: 3rem;
    line-height: 1.2;
  }

  .unknown-sec-small-text {
    font-size: 1.5rem;
  }

  .unknown-sec-img {
    width: 45rem;
    height: 45rem;
  }

  .thinking-about-2-img {
    padding-right: 7rem;
  }

  .form-info-small-text {
    font-size: 1.5rem;
    width: 30rem;
    padding-right: 3rem;
  }

  .last-pic-sec-inscript {
    font-size: 3rem;
    width: 90rem;
    padding-right: 55rem;
  }

  .last-pic-sec-sub-block {
    width: 50rem;
  }

  .last-pic-sec-sub {
    margin-left: 10rem;
  }

  .l-sec-list-container {
    display: grid;
    row-gap: 5rem;
    padding-right: 40rem;
  }

  .div-1 {
    display: none;
  }

  .l-sec-list-element {
    font-size: 1.5rem;
    line-height: 1.5;
    word-spacing: 1px;
  }

  .long-el {
    width: 47rem;
  }

  .copyright {
    padding-right: 42rem;
  }
  /* .main-heading {
    margin-right: 10rem;
  } */

  /* .first-div {
    margin-left: 18rem;
    width: 60rem;
    gap: 2rem;
  }

  .ppp {
    width: 30rem;
    font-size: 1.8rem;
  }

  .first-div-small {
    word-spacing: 2px;
    font-size: 1.5rem;
  }

  .second-div {
    width: 30rem;
  }

  .card-content-mini-header {
    font-size: 2.5rem;
  }

  .card-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-content-para {
    font-size: 1.8rem;
  }

  .card {
    width: 100%;
  }

  .unknown-sec-big-text {
    width: 90rem;
    margin-left: 20rem;
  }

  .unknown-sec-small-text {
    font-size: 1.8rem;
    width: 90rem;
    margin-left: 20rem;
  }

  .unknown-sec-img {
    margin-left: 30rem;
    width: 70rem;
  }

  .social-media-container {
    margin-left: 20rem;
  }

  .thinking-about-1-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .click-here,
  .Subscription {
    font-size: 1.5rem;
  }

  .time-posted {
    font-size: 1.2rem;
  }

  .form-info-small-text {
    font-size: 1.4rem;
    width: 31rem;
  }

  .s-labels {
    font-size: 1.2rem;
  }

  .sub-btn {
    max-width: 10rem;
  }

  .l-sec-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10rem;
  }

  .div-1 {
    display: none;
  }

  .l-sec-list-element {
    font-size: 1.5rem;
    word-spacing: 1.5;
    letter-spacing: 0.3px;
  }

  .l-sec-list-title {
    font-size: 1.8rem;
  }

  .l-sec-list-element.long-el {
    width: 50rem;
  }

.tiled-pic-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 10rem;
}

.tiled-pic {
  width: 25rem;
}

.social-media-container {
  gap: 5rem;
  
} */
}
